{# templates/dhcp/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ajout d'une nouvelle clef{% endblock %}
{% block cssKeyNavBarItem %} active {% endblock %}

{% block body %}
<form action="/saveKey" id="formSaveKey" method="post">
	<h1> Création d'une nouvelle clé </h1>
	<div class="form-row">

		<div class="col-md-4 mb-3">
			<label for="modele">Modele</label>
			<input type="text" class="form-control" id="modele" name="modele" placeholder="Entrez le modèle de la clé" value="">
		</div>

		<div class="col-md-4 mb-3">
			<label for="reference">Référence</label>
			<input type="text" class="form-control" id="reference" name="reference" placeholder="Entrez la référence de la clé" value="">
		</div>


		<div class="col-md-4 mb-3">
			<label for="type">Type</label>
    	<select class="form-control" id="type" name="type">
    	{% for val in types %}
      	<option value="{{val.id}}">
					{{ val.value }}
				</option>
    	{% endfor %}

			</select>
    </div>

		<div class="col-md-6 mb-3">
				<label for="lieu">Lieu</label>
				<select class="form-control" id="lieu" name="lieu">
		    	{% for val in lieux %}
		      	<option value="{{val.id}}">{{ val.value }}</option>
		    	{% endfor %}
		    </select>
		</div>
	<div class="col-md-6 mb-3">
	<label for="state">Etat</label>
    <select class="form-control" id="state" name="state">
		{% for val in state %}
			<option value="{{val.id}}">{{ val.value }}</option>
		{% endfor %}
    </select>
    </div>
	</div>
	<div class="form-row">
		<div class="col-md-4 mb-3">
			<label for="access">Accés (Bureau, porte, ...)</label>
			<input type="text" class="form-control" id="access" name="access" placeholder="Entrez ce que la porte peut ouvrir" value="">
	</div>
		<div class="col-md-4 mb-3">
			<label for="ticketIn">Ticket d'activation :</label>
			<input type="text" class="form-control" id="ticketIn" name="ticketIn" placeholder="Numéro ENT de ticket" value="">
	</div>

		<div class="col-md-4 mb-3">
			<label for="ticketOut">Ticket de désactivation :</label>
			<input type="text" class="form-control" id="ticketOut" name="ticketOut" placeholder="Numéro ENT de ticket" value="">
		</div>
	</div>
</form>

<button type="button" class="btn btn-link" id="backButton">Back</button>
<button type="button" class="btn btn-success" id="saveButton">Save</button>

{% endblock %}

{% block js_documentReady %}
	$('#backButton').on('click', function(event) {
		window.location = '{{ path("key_list") }}';
	});

	$( "#saveButton" ).click(function() {
		$( "#formSaveKey" ).submit();
	});
{% endblock %}
