{# templates/dhcp/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des clefs{% endblock %}
{% block cssKeyNavBarItem %} active {% endblock %}


{% block body %}
<div class="table-responsive">
	<h1> Liste des clefs </h1>
	<table class="table table-hover table-sm" id="tableKeys">
		<tr><th>#</th><th>Type</th><th>Modele</th><th>Site</th><th>Référence</th><th>Accès</th><th>Etat</th></tr>
	{% for trousseau in trousseaux %}
			<tr>
				<th scope="row">{{ loop.index0 }}</th>
					<td>
						<a href="{{ path('key_view', {id: trousseau.id}) }}">
							{{ params[trousseau.type] }}
						</a>
					</td>
					<td>
						<a href="{{ path('key_view', {id: trousseau.id}) }}">
							{{ trousseau.modele }}
						</a>
					</td>
					<td>
						<a href="{{ path('key_view', {id: trousseau.id}) }}">
							{{ params[trousseau.site] }}
						</a>
					</td>
					<td>
						<a href="{{ path('key_view', {id: trousseau.id}) }}" >
							{{ trousseau.ref }}
						</a>
					</td>
					<td>
						<a href="{{ path('key_view', {id: trousseau.id}) }}" >
							{{ trousseau.access }}
						</a>
					</td>
					<td>
						<a href="{{ path('key_view', {id: trousseau.id}) }}">
							{{ params[trousseau.state] }}
						</a>
					</td>
					<td>
						<button type="button" class="btn btn-outline-warning" id="modifyKey{{ trousseau.id }}" name={{ trousseau.id }} >Modifier</button>
						<button type="button" class="btn btn-outline-danger" id="deleteKey{{ trousseau.id }}" name={{ trousseau.id }} >Supprimer</button>
					</td>
				</tr>
	{% endfor %}
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voulez vous vraiment supprimer ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-primary" id="buttonConfirmDelete">Oui</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
function search() {
	$.ajax({
    url:"{{ path('key_list_ajax') }}",
		method: "post",
		data: {type: $("#type").val(), site: $("#lieu").val(), search: $("#searchBase").val()},
		dataType: 'json',
		success: function (data) {
			$js = JSON.parse(data);
			console.log($js);
			$("#tableKeys").find("tr").remove();
			var i = 0;
			$('#tableKeys').append('<tr><th>#</th><th>Type</th><th>Modele</th><th>Site</th><th>Référence</th><th>Accés</th><th>Etat</th><th>Créateur</th><th>Action</th></tr>');
			$.each($js, function(index, element) {
				$('#tableKeys').append('<tr id="tr'+element.id+'"><td><a href="{{ path('key_view') }}?id='+element.id+'">'+i+'</a></td><td><a href="{{ path('key_view') }}?id='+element.id+'">'+params[element.type]+'</a></td><td><a href="{{ path('key_view') }}?id='+element.ref+'">'+element.modele+'</a></td><td><a href="{{ path('key_view') }}?id='+element.id+'">'+params[element.site]+'</a></td><td><a href="{{ path('key_view') }}?id='+element.id+'">'+element.ref+'</a></td><td><a href="{{ path('key_view') }}?id='+element.id+'">'+element.access+'</a></td><td><a href="{{ path('key_view') }}?id='+element.id+'">'+params[element.state]+'</a></td><td><a href="{{ path('user_view') }}?id='+element.creator.id+'">'+element.creator.firstName+' '+element.creator.name+'</a></td></tr>');
				var modifTd = $('<td/>');
				var buttonModifier = $('<button/>',
				{
						text: 'Modifier',
						name: element.id,
						class: 'btn btn-outline-warning',
						click: function () { window.location.href="{{ path('key_modify') }}?id="+this.name; }
				});
				var buttonDelete = $('<button/>',
				{
						text: 'Supprimer',
						name: element.id,
						id: "deleteKey" + element.id,
						class: 'btn btn-outline-danger',
						click: function () { showModalDelete(this.name); }
				});
				modifTd.append(buttonModifier);
				modifTd.append("&nbsp;");
				modifTd.append(buttonDelete);
				$("#tr" + element.id + " td:last-child").after(modifTd);
				// <td><button type="button" class="btn btn-outline-danger" id="deleteKey'+element.id+'" name='+element.id+'>Supprimer</button></td>
				i++;
			});
		}
	});
}

function deleteKey(){
		if ( deleteKey = true ) {
		var txt;
		var r = window.confirm("si vous voulez supprimer cliquez sur  OK sinon sur Cancel.\n");
		if (r == true) {
			deleteKey;
		} else {
			txt = "You pressed Cancel!";
		}
	}
}

function showModalDelete(id) {
		$('#buttonConfirmDelete').attr("name", id);
		$('#deleteModal').modal('show');
}
{% endblock %}
{% block js_documentReady %}
	$("[id^=modifyKey]").click(function() {
		window.location.href="{{ path('key_modify') }}?id="+this.name;
	});
	$('[id^=deleteKey]').click(function(){
		$('#buttonConfirmDelete').attr("name", this.name);
		$('#deleteModal').modal('show');
		});

	$('#buttonConfirmDelete').click(function(){
		window.location.href = "{{ path("key_delete") }}?id=" + this.name;
	});
	$('#deleteModal').on('shown.bs.modal', function () {
		$('#myInput').trigger('focus')
	});
{% endblock %}
