{# templates/dhcp/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des clefs{% endblock %}
{% block cssKeyNavBarItem %} active {% endblock %}


{% block body %}
<div class="table-responsive">
	<table class="table table-hover table-sm" id="tableKeys">
		<tr>
			<th>
				#
			</th>
			<th>
				Modele
			</th>
			<th>
				Site
			</th>
			<th>
				Référence
			</th>
			<th>
				Type
			</th>
			<th>
				Etat
			</th>
		</tr>
	{% for trousseau in trousseaux %}
			<tr>
				<th scope="row">{{ loop.index0 }}</th>
					<td>
						<a href="{{ path('key_view', {id: trousseau.id}) }}">
							{{ trousseau.modele }}
						</a>
					</td>
					<td>
						<a href="{{ path('key_view', {id: trousseau.id}) }}">
							{{ params[trousseau.site] }}
						</a>
					</td>
					<td>
						<a href="{{ path('key_view', {id: trousseau.id}) }}" >
							{{ trousseau.ref }}
						</a>
					</td>
					<td>
						<a href="{{ path('key_view', {id: trousseau.id}) }}">
							{{ params[trousseau.type] }}
						</a>
					</td>
					<td>
						<a href="{{ path('key_view', {id: trousseau.id}) }}">
							{{ params[trousseau.state] }}
						</a>
					</td>
					<td>
						<button type="button" class="btn btn-outline-warning" id="modifyKey{{ trousseau.id }}" name={{ trousseau.id }}>Modifier</button>
						<button type="button" class="btn btn-outline-danger" id="deleteKey{{ trousseau.id }}" name={{ trousseau.id }}>
							Supprimer
						</button>
					</td>
				</tr>
	{% endfor %}
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voulez vous vraiment supprimer ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-primary" id="buttonConfirmDelete">Oui</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}

<script>

    $(document).ready(function(){
			$("[id^=modifyKey]").click(function() {
				window.location.href="{{ path('key_modify') }}?id="+this.name;
			});
	  $('[id^=deleteKey]').click(function(){
		//alert(this.name);
		$('#buttonConfirmDelete').attr("name", this.name);
		$('#deleteModal').modal('show')
      });

      $('#buttonConfirmDelete').click(function(){
        window.location.href = "/deleteKey?id=" + this.name;
      });
      $('#deleteModal').on('shown.bs.modal', function () {
         $('#myInput').trigger('focus')
      });

    });

function deleteKey(){
	if ( deleteKey = true ) {
  var txt;
  var r = window.confirm("si vous voulez supprimer cliquez sur  OK sinon sur Cancel.\n");
  if (r == true) {
    deleteKey;
  } else {
    txt = "You pressed Cancel!";
  }
}

}


</script>

{% endblock %}
