{# templates/dhcp/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}modification Cle{% endblock %}
{% block cssKeyNavBarItem %} active {% endblock %}

{% block body %}
<form action="/saveKey" id="formSaveKey" method="post">
	<input id="trousseauId" name="trousseauId" type="hidden" value="{{ trousseau.id }}">

	<div class="form-row">
		<div class="col-md-4 mb-3">
			<label for="reference">Référence</label>
			<input type="text" class="form-control" id="reference" name="reference" placeholder="Entrez id clé" value="{{ trousseau.ref }}">
		</div>

		<div class="col-md-4 mb-3">
	  	<label for="modele">Modele</label>
	  	<input type="text" class="form-control" id="modele" name="modele" placeholder="" value="{{ trousseau.modele }}">
		</div>

		<div class="col-md-4 mb-3">
			<label for="Type">Type</label>
			<select class="form-control" id="type" name="type">
				{% for val in types %}
				{% set selected = '' %}
				{% if (val.id == trousseau.type) %}
				{% set selected = 'selected' %}
				{% endif %}
				<option value="{{val.id}}" {{ selected }}>{{ val.value }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="form-row">
		<div class="col-md-6 mb-3">

			<label for="Lieu">Lieu</label>
      <select class="form-control" id="lieu" name="lieu">
    		{% for val in lieux %}
      	{% set selected = '' %}
    		{% if (val.id == trousseau.site) %}
      	{% set selected = 'selected' %}
    		{% endif %}
      	<option value="{{val.id}}" {{ selected }}>{{ val.value }}</option>
    		{% endfor %}
    	</select>

		</div>

		<div class="col-md-6 mb-3">

			<label for="Lieu">Etat</label>
      <select class="form-control" id="state" name="state">
    		{% for val in etats %}
      	{% set selected = '' %}
    		{% if (val.id == trousseau.state) %}
      	{% set selected = 'selected' %}
      	{% endif %}
    		<option value="{{val.id}}" {{ selected }}>{{ val.value }}</option>
  			{% endfor %}
  		</select>

		</div>
	</div>

  <div class="form-row"></div>
</form>

<button type="button" class="btn btn-link" id="backButton">Back</button>
<button type="button" class="btn btn-success" id="saveButton">Save</button>

{% endblock %}


{% block js_documentReady %}
	$('#backButton').on('click', function(event) {
		window.location = '/';
	});

	$( "#saveButton" ).click(function() {
		$( "#formSaveKey" ).submit();
	});
{% endblock %}
