{# templates/dhcp/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ajout d'un nouveau emprunteur{% endblock %}
{% block cssPretNavBarItem %}active{% endblock %}
{% block body %}

<form action="/addPret" id="formSavePret" method="post" >
	<h1> Nouveau Pret </h1>
<input type="hidden" name="userId" id="userId">
<div class="form-group row">
	<label for="type"  class="col-sm-1 col-form-label">Type</label>
	<div class="col-sm-4">
		<select class="form-control" id="type" name="type">
		{% for val in types %}
			<option value="{{val.id}}">{{ val.value }}</option>
		{% endfor %}
		</select>
	</div>
	<label for="lieu"  class="col-sm-1 col-form-label">Site</label>
	<div class="col-sm-4">
		<select class="form-control" id="lieu" name="lieu">
		{% for val in lieux %}
			<option value="{{val.id}}">{{ val.value }}</option>
		{% endfor %}
		</select>
	</div>
</div>
<div class="form-group row">
		<label for="trousseauId" class="col-sm-1 col-form-label">Clef</label>
			<div class="col-sm-8">
        <select class="form-control" id="trousseauId" name="trousseauId"></select>
			</div>
</div>

<div class="form-group row">
		<label for="hostname" class="col-sm-1 col-form-label">Utilisateur</label>
		<div class="form-group col-sm-8 mb-2">
			<input class="form-control" type="text" id="searchId" name="searchId"/>
		</div>
		<button type="button" class="btn btn-info mb-2" id="newUserButton">Ajouter utilisateur</button>
</div>

<div class="form-group row">
	<label for="dateStart" class="col-sm-1 col-form-label">Date</label>
	<div class="col-sm-4">
	  <input type="text" class="form-control" id="dateStart" name="dateStart" placeholder="" value="">
	</div>
	<div class="col-sm-1">
		<div class="checkbox">
			<label><input type="checkbox" value="" class="form-check-input" id="expirationDate">Expiration date</label>
		</div>
	</div>
	<div class="col-sm-4">
    <input type="text" class="form-control" id="dateEnd" name="dateEnd" placeholder="" value="">
  </div>
  </div>

  <div class="form-group">
    <label for="desciption">Description</label>
		<div class="col-sm-11">
    	<textarea class="form-control" id="description" name="description" placeholder="Description... (1500 caractères max)" rows="5"></textarea>
		</div>
  </div>
</form>
<button type="button" class="btn btn-link" id="backButton">Back</button>
<button type="button" class="btn btn-success" id="saveButton">Save</button>

<div id="hostExist" style="display:none;">
	L'hote <b><span id="hostExist_hostname"></span></b> Existe deja en base.
  <button type="button" class="btn btn-success" id="hostExist_load">Charger</button>
</div>

<!-- Modal -->
<div class="modal fade" id="modalNewUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouvel utilisateur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<form action="/adduser" id="saveUser" method="post">
					<h1>Ajout d'un utilisateur</h1>
					<div class="form-row">
						<div class="col-md-4 mb-3">
							<label for="name">Nom</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Nom" value="">
						</div>

						<div class="col-md-4 mb-3">
							<label for="firstname">Prénom</label>
							<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom" value="">
						</div>
						<input type="hidden" name="roles" id="roles" value="ROLE_USER"/>
					</div>

					<div class="form-row">
						<div class="col-md-4 mb-3">
							<label for="hostname">Origine</label>
							<input type="text" class="form-control" id="origine" name="origine" placeholder="Origine" value="">
						</div>

						<div class="col-md-4 mb-3">
							<label for="financement">Financement</label>
							<input type="text" class="form-control" id="financement" name="financement" placeholder="Financement" value="">
						</div>

						<div class="col-md-4 mb-3">
							<label for="equipe">Equipe</label>
							<select class="form-control" id="equipe" name="equipe">
							{% for val in department %}
								<option value="{{val.id}}">{{ val.value }}</option>
							{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-12 mb-3">
							<label for="hostname">Email</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="Email" value="">
						</div>
					</div>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-primary" id="addUser">Sauver</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
function searchKey()
{
	$.ajax({
		url:"/listFreeKeyAjax",
		method: "post",
		data: {type: $("#type").val(), site: $("#lieu").val()},
		dataType: 'json',
		success: function (data) {
			$("#trousseauId").find("option").remove();
			$js = JSON.parse(data);
			$.each($js["data"], function(index, element) {
				var classCss = "";
				$('#trousseauId').append(new Option(element.modele + " " + element.ref, element.id));
			});
		}
	});
}

function saveUser()
{
	$.ajax({
		url:"{{ path("user_add_ajax") }}",
		method: "post",
		data: {name: $("#name").val(), firstname: $("#firstname").val(), roles: $("#roles").val(), origine: $("#origine").val(), financement: $("#financement").val(), equipe: $("#equipe").val(), email: $("#email").val()},
		dataType: 'json',
		success: function (data) {
				js = JSON.parse(data);
				$("#userId").val(js["id"]);
				$("#searchId").val(js["firstName"] + " " + js["name"]);
			$('#modalNewUser').modal('hide');
		}
	});
}
{% endblock %}
{% block js_documentReady %}

	$("#dateStart").datepicker({
        dateFormat: "dd/mm/yy"
	});

	$("#addUser").on("click", function(event) {
		saveUser();
	});

	$("#dateStart").datepicker("setDate", new Date());

	$("#newUserButton").on("click", function(event) {
		$('#modalNewUser').modal('show');
	});

	$('#backButton').on('click', function(event) {
		window.location = '/lend/list';
	});

	$('#expirationDate').on('change', function(event) {
		if ($('#expirationDate').is(':checked')) {
			$('#dateEnd').prop('disabled', false);
	  }
	  else {
			$('#dateEnd').prop('disabled', true);
	  }
	});

	if($('#expirationDate').val() != true  )
	{
		$('#dateEnd').prop('disabled', false);
		$("#expirationDate").prop('checked', true);
	}

	if(!$("#expirationDate").is(":checked")) {
	  $('#dateEnd').prop('disabled', true);
	}

	$("#dateEnd").datepicker({
		language:"fr",
	});

	$("#dateStart").datepicker({
		language:"fr",
	});

	$( "#saveButton" ).click(function() {
		$( "#formSaveKey" ).submit();
	});

	searchKey();

	$("#type").on('change', function(event) {
		searchKey();
	});

	$("#lieu").on('change', function(event) {
		searchKey();
	});


	$( "#saveButton" ).click(function() {
		$( "#formSavePret" ).submit();
	});

	$("#searchId").autocomplete({
    source: function( request, response ) {
			$.ajax({
					dataType: "json",
					type : 'Get',
					url: '/searchUserAjax',
					data: {q: request.term},
					success: function(data) {
						var parsed = JSON.parse(data);
						$('input.suggest-user').removeClass('ui-autocomplete-loading');
						var newArray = new Array(parsed.length);
						var i = 0;
						$.each(parsed["data"], function(index, element) {
							var newObject = { label: element.name, id: element.id };
							newArray[i] = newObject;
							i++;
						});
						response(newArray);
					},
					error: function(data) {
							$('input.suggest-user').removeClass('ui-autocomplete-loading');
					}
			});
		},
		select: function (event, ui) {
				//alert(ui.item.id);
				$("#userId").val(ui.item.id);
				$("#searchId").val(ui.item.label);
				return false;
		},
    minLength: 1,
    open: function() {},
    close: function() {},
    focus: function(event,ui) {}
	});
{% endblock %}
