{# templates/dhcp/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des prets{% endblock %}
{% block cssPretNavBarItem %}active{% endblock %}

{% block body %}
<div class="table-responsive">
	<table class="table table-hover table-sm">
		<tr>
			<th>#</th><th>Modele</th><th>Site</th><th>Référence</th><th>Type</th><th>Etat</th><th>Emprunteur</th><th>Expire</th><th>Action</th>
		</tr>

		{% for pret in prets %}

		<tr><th scope="row">{{ loop.index0 }}</th><td><a href="/modifyPret?id={{ pret.id }}">{{ pret.trousseau.modele }}</a></td>
        <td><a href="{{ path('lend_modify', {id: pret.id}) }}">{{ params[pret.trousseau.site] }} </a></td>
        <td><a href="{{ path('lend_modify', {id: pret.id}) }}">{{pret.trousseau.ref }}</a></td>
        <td><a href="{{ path('lend_modify', {id: pret.id}) }}">{{ params[pret.trousseau.type] }}</a></td>
        <td><a href="{{ path('lend_modify', {id: pret.id}) }}">{{ params[pret.trousseau.state] }}</a></td>
        <td><a href="{{ path('user_view', {id: pret.user.id}) }}">{{ pret.user.firstName }} {{ pret.user.name }}</a></td>
        <td><a href="{{ path('lend_modify', {id: pret.id}) }}">{{ pret.end?pret.end|date('d/m/Y'):"" }}</a></td>
        <td> <a href="#" class="btn btn-info" id="pdf{{ pret.id }}" name="{{ pret.id }}"><span class="glyphicon glyphicon-file"></span> pdf</a> <button type="button" class="btn btn-outline-danger" id="deletePret{{ pret.id }}" name={{ pret.id }}>Supprimer</button></td></tr>

		{% endfor %}


	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voulez vous vraiment supprimer ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-primary" id="buttonConfirmDelete">Oui</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
function deletePret(){
	if ( deleteKey = true ) {
    var txt;
    var r = window.confirm("si vous voulez supprimer cliquez sur  OK sinon sur Cancel.\n");
    if (r == true) {
      deleteKey;
    } else {
      txt = "You pressed Cancel!";
    }
  }
}
{% endblock %}

{% block js_documentReady %}
$(document).ready(function(){

$('[id^=deletePret]').click(function(){
//alert(this.name);
$('#buttonConfirmDelete').attr("name", this.name);
$('#deleteModal').modal('show')
  });

  $("a[id^='pdf']").click(function(){
    window.location.href = "{{ path('pdf_lend_view') }}?id=" + this.name;
  });

  $('#buttonConfirmDelete').click(function(){
    window.location.href = "/deletePret?id=" + this.name;
  });
  $('#deleteModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
  });
});
{% endblock %}
