{# templates/base.html.twig #}
<!DOCTYPE html>
<html style="background-color:#343a40;">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}KeyRing{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
	      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {{ encore_entry_link_tags('app') }}
    </head>
    <body style="background-color:#dee2e6;">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">KeyRing</a><img src="/KeyRingLogoDark.png" style="width:3%;"/>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

          <li class="nav-item dropdown {% block cssKeyNavBarItem %}{% endblock %}" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clefs</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ path('key_list') }}">Liste des Clefs</a>
              <a class="dropdown-item" href="{{ path('key_new') }}">Créer une nouvelle clef</a>
            </div>
          </li>

          <li class="nav-item dropdown {% block cssPretNavBarItem %}{% endblock %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pret</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{path('lend_list')}}">Liste des prets</a>
              <a class="dropdown-item" href="{{ path('lend_new') }}">Nouveau pret</a>
              <a class="dropdown-item" href="{{ path('lend_history') }}">Historique</a>
            </div>
          </li>


        <li class="nav-item dropdown {% block cssUserNavBarItem %}{% endblock %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Utilisateur</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/listusers">Liste des utilisateurs</a>
              <a class="dropdown-item" href="/user">Nouvel utilisateur</a>
            </div>
          </li>

        <li class="nav-item dropdown {% block cssParamNavBarItem %}{% endblock %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Paramètres</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('param_list') }}">Liste des parametres</a>
          </div>
        </li>

          <li class="nav-item {% block cssAccountNavBarItem %}{% endblock %}">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class= "nav-link" href="{{ path('user_profil') }}">Compte: {{ app.user.email }}</a>
          {% endif %}
          </li>

          {% endif %}

          <li class="nav-item {% block logout %}{% endblock %}" >
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="/logout"><button type="button" class="btn btn-danger" id="logoutButton">Deconnexion</button></a>
          {% endif %}
          </li>
        </ul>



        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search" id="searchBase">
          <br>
        </form>
      </div>
    </nav>

	  <div class="container">
      <div class="starter-template">
        <br>
        {% block body %}{% endblock %}
      </div>
    </div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>
	<script src="http://bootstrap-notify.remabledesigns.com/js/bootstrap-notify.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {% block js_importedLib %}
  {% endblock %}
  <script>
    {% for message in app.flashes('notice') %}
  	$.notify({
  		message: '{{ message }}'
  		},{
  			type: 'info',
  			showProgressbar: true,
  			delay: 2000,
  		});
  	{% endfor %}
      {% for message in app.flashes('warning') %}
  	$.notify({
  		message: '{{ message }}'
  		},{
  			type: 'warning',
  			showProgressbar: true,
  			delay: 2000,
  		});
  	{% endfor %}

    var params = null;
    function loadParams()
    {
      $.ajax({
					dataType: "json",
					type : 'Get',
					url: '{{ path("param_list_ajax") }}',
					success: function(data) {
						params = JSON.parse(data);
					},
					error: function(data) {
							$('input.suggest-user').removeClass('ui-autocomplete-loading');
					}
			});
    }
  	{% block js %}
    {% endblock %}

$(document).ready(function () {
  jQuery(function($){
	$.datepicker.regional['fr'] = {
		closeText: 'Fermer',
		prevText: '&#x3c;Préc',
		nextText: 'Suiv&#x3e;',
		currentText: 'Aujourd\'hui',
		monthNames: ['Janvier','Fevrier','Mars','Avril','Mai','Juin',
		'Juillet','Aout','Septembre','Octobre','Novembre','Decembre'],
		monthNamesShort: ['Jan','Fev','Mar','Avr','Mai','Jun',
		'Jul','Aou','Sep','Oct','Nov','Dec'],
		dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
		dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
		dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: '',
		minDate: 0,
		maxDate: '+12M +0D',
		numberOfMonths: 2,
		showButtonPanel: true
		};
	$.datepicker.setDefaults($.datepicker.regional['fr']);
});
  loadParams();
  $("#searchBase").keyup(function() {
    search();
  });
  {% block js_documentReady %}
  {% endblock %}
});

	</script>


  </body>
</html>
