{# templates/dhcp/user/listageUsers #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}
{% block cssUserNavBarItem %} active {% endblock %}


{% block body %}

<div class="row">
  <h1> Liste des utilisateurs </h1>
</div>
	<a href="#" class="btn btn-xs btn-success" id="addUserButton"><span class="glyphicon glyphicon-plus"></span> Ajouter utilisateur</a>

<div class="table-responsive">
	<table class="table table-hover table-sm">
	<tr>
		<th>
			#
		</th>
		<th>
			Nom
		</th>
		<th>
			Prenom
		</th>
		<th>
			Email
		</th>
		<th>
			Username
		</th>
		<th>
			Role
		</th>
		<th>
			Position
		</th>
		<th>
			Equipe
		</th>
		<th>
			Action
		</th>
	</tr>

	{% for user in users %}

			<tr>
				<th scope="row">{{ loop.index0 }}</th>
					<td>
						<a href="{{ path('user_view', {id: user.id}) }}">	
							{{ user.name }}
						</a>
					</td>
					<td>
						<a href="{{ path('user_view', {id: user.id}) }}">
							{{ user.firstname }}
						</a>
					</td>
					<td>
						<a href="{{ path('user_view', {id: user.id}) }}" >
							{{ user.email }}
						</a>
					</td>
					<td>
						<a href="{{ path('user_view', {id: user.id}) }}" >
							{{ user.username }}
						</a>
					</td>
					<td>
						<a href="{{ path('user_view', {id: user.id}) }}" >
							{{ user.roles[0] }}
						</a>
					</td>
					<td>
						<a href="{{ path('user_view', {id: user.id}) }}" >
							{{ params[user.position] }} 
						</a>
					</td>
					<td>
						<a href="{{ path('user_view', {id: user.id}) }}" >
							{{ params[user.equipe] }}
						</a>
					</td>
					<td>
						<button type="button" class="btn btn-outline-warning" id="modifyUser{{ user.id }}" name={{ user.id }}>Modifier</button>
						<button type="button" class="btn btn-outline-danger" id="deleteuser{{ user.id }}" name={{ user.id }}>Supprimer</button>
					</td>
				</tr>
	{% endfor %}
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voulez vous vraiment supprimer ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-primary" id="buttonConfirmDelete">Oui</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
function deleteuser(){
	if ( deleteuser = true ) {
		var txt;
		var r = window.confirm("si vous voulez supprimer cliquez sur  OK sinon sur Cancel.\n");
		if (r == true) {
			deleteuser;
		} else {
			txt = "You pressed Cancel!";
		}
	}
}
{% endblock %}

{% block js_documentReady %}
	$("[id^=modifyUser]").click(function() {
		window.location.href="{{ path('user_modify') }}?id="+this.name;
	});

	$("#addUserButton").click(function(){
		window.location.href="/user";
	});

	$('[id^=deleteuser]').click(function(){
		$('#buttonConfirmDelete').attr("name", this.name);
		$('#deleteModal').modal('show');
	});

	$('#buttonConfirmDelete').click(function(){
		window.location.href = "/deleteuser?id=" + this.name;
	});
	$('#deleteModal').on('shown.bs.modal', function () {
		$('#myInput').trigger('focus')
	});
{% endblock %}
