{% extends 'base.html.twig' %}

{% block head %}
<head>
  <script type="text/javascript">

  function validate() {

          var a = document.getElementById("password").value;
          var b = document.getElementById("password_confirm").value;

          if (a!=b) {
            alert("Les mots de passe ne correspondent pas.");
            return false; }
          else {
            alert("Les mots de passe correspondent.");
            return false; }
          }
  </script>
<head>

{% endblock %}

{% block title %}Ajouter un utilisateur{% endblock %}
{% block cssUserNavBarItem %} active {% endblock %}


{% block body %}
<h1> Modifier Utilisateur</h1>

<form action="{{ path('user_add') }}" id="saveUser" method="post">
  <input type="hidden" id="userId" name="userId" value="{{user.id}}">
  <input type="hidden" id="host" name="host" value="{{user.host}}">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control" id="name" name="name" placeholder="Nom" value="{{user.name}}">
    </div>

    <div class="col-md-4 mb-3">
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom" value="{{user.firstname}}">
    </div>
    <div class="col-md-4 mb-3">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{user.email}}">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="position">Position</label>
        <select class="form-control" id="position" name="position">
        {% for val in positions %}
          {% set selected = '' %}
          {% if (val.id == user.position) %}
          {% set selected = 'selected' %}
          {% endif %}
          <option value="{{val.id}}" {{selected}}>{{ val.value }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label" for="hostName">Responsable</label>
      <input type="text" class="form-control" id="hostName" placeholder="Responsable" value="">
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="origine">Origine</label>
      <input type="text" class="form-control" id="origine" name="origine" placeholder="Origine" value="{{user.origine}}">
    </div>
    <div class="col-md-4 mb-3">
      <label for="nationality">Nationalité</label>
        <select class="form-control" id="nationality" name="nationality">
        {% for k,v in nationalities %}
          {% set selected = '' %}
          {% if (k == user.nationality) %}
          {% set selected = 'selected' %}
          {% endif %}
          <option value="{{k}}" {{selected}}>{{ v}}</option>
        {% endfor %}
        </select>
    </div>

    <div class="col-md-4 mb-3">
      <label for="hostname">Financement</label>
      <input type="text" class="form-control" id="financement" name="financement" placeholder="Financement" value="{{user.financement}}">
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="hostname">Equipe</label>
        <select class="form-control" id="equipe" name="equipe">
        {% for val in departments %}
          {% set selected = '' %}
          {% if (val.id == user.equipe) %}
          {% set selected = 'selected' %}
          {% endif %}
          <option value="{{val.id}}" {{selected}}>{{ val.value }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="arrival">Date d'arrivée</label>
      <input type="text" class="form-control" id="arrival" name="arrival" placeholder="Date d'arrivée" value="{{ user.arrival|date('d/m/Y') }}">
    </div>
    <div class="col-md-4 mb-3">
      <label for="departure">Date de fin</label>
      <input type="text" class="form-control" id="departure" name="departure" placeholder="Date de départ" value="{{ user.departure|date('d/m/Y') }}">
    </div>
  </div>
  <hr/>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="hostname">Nom d'utilisateur</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur" value="{{user.username}}">
    </div>

    <div class="col-md-4 mb-3">
      <label for="hostname">Mot de passe</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" value="">
    </div>

    <div class="col-md-4 mb-3">
			<div class="popup">
	      <label for="hostname">Confirmez votre Mot de passe</label>
	      <input type="password" onblur="validate()" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirmez votre Mot de passe" value="">
				<span class="popuptext" id="myPopup">Les mot de passe ne correspondent pas !</span>
			</div>
		</div>
    <div class="col-md-4 mb-3">
      <label for="hostname"> Role </label>
      <select  class="form-control" id="roles" name="roles" placeholder="Role" value="">
  			<option value="ROLE_USER" {{user.roles[0]=="ROLE_USER"?"selected":""}}> Utilisateur</option>
  			<option value="ROLE_ADMIN" {{user.roles[0]=="ROLE_ADMIN"?"selected":""}}> Administrateur </option>
  		</select>
    </div>
  </div>

  <button type="submit" id="btn" class="btn btn-success">Save</button>
</form>

{% endblock %}
{% block js %}
  function validate() {
    var a = document.getElementById("password").value;
    var b = document.getElementById("password_confirm").value;

    if (a!=b && b!=a) {

			var popup = document.getElementById("myPopup");
		  popup.classList.toggle("show");
			document.getElementById("btn").disabled = true;
      return false;
    }
    else {
			document.getElementById("btn").disabled = false;
      return false;
    }
  }

{% endblock %}

{% block js_documentReady %}
  $('#backButton').on('click', function(event) {
    window.location = '/listusers';
  });
	$("#arrival").datepicker({
        dateFormat: "dd/mm/yy",
        onSelect: function() {
          var date = $(this).datepicker('getDate');
          if (date)
          {
            date.setDate(date.getDate() + 1);
            console.log(date);
            //$("#departure").datepicker( "option", "minDate", date );
            $("#departure").val( $.datepicker.formatDate('dd/mm/yy', date));
          }
        }
  });
	$("#departure").datepicker({
        dateFormat: "dd/mm/yy"
	});
{% endblock %}
