{% extends 'base.html.twig' %}

{% block title %}Utilisateur {{ user.firstName }} {{ user.name }}{% endblock %}
{% block cssUserNavBarItem %} active {% endblock %}


{% block body %}

  <div class="row">
    <div class="col-md-2 col-sm-12">
      <h3 id="quote">{{ user.firstName }} {{ user.name }}</h3>
    </div>
    <div class="col-md-2 col-sm-12">
      <a href="{{ path("user_view_pdf", {id: user.id} ) }}" class="btn btn-primary" > PDF </a>
      <a href="{{ path("user_modify", {id: user.id} ) }}" class="btn btn-success" > Modifier </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-3">
          Email :
        </div>
        <div class="col-sm-8">
          {{ user.email }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          Nationalité :
        </div>
        <div class="col-sm-8">
          {{ nationalities[user.nationality] }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          Origine :
        </div>
        <div class="col-sm-8">
          {{ user.origine }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          Statut :
        </div>
        <div class="col-sm-8">
          {{ params[user.position] }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          Financement :
        </div>
        <div class="col-sm-8">
          {{ user.financement }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          Invitant :
        </div>
        <div class="col-sm-8">
          {{ user.host?user.host.firstName~" "~user.host.name:"" }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          Equipe :
        </div>
        <div class="col-sm-8">
          {{ params[user.equipe] }}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h2 class="mt-5">Prêts en cours :</h2>
      <div class="alert alert-success">
        {% if prets == null %}
          Aucun
        {% endif %}
        <br />
        {% for val in prets %}
          <ul><strong>{{ params[val.trousseau.type] }} :</strong>{{ val.trousseau.modele }} {% if val.trousseau.modele != NULL or val.trousseau.modele != "" %},{% endif %} {{ val.trousseau.ref }}
          , <strong>Bureau :</strong> {{ val.trousseau.access}}
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>


<div class="row">
  <div class="mb-auto p-2 bd-highlight">
      <h2 class="mt-5">Séjour(s):</h2>
  </div>
  <div class="mb-auto">
    <ul class="list-group">
    {% for stay in user.stays %}
      <li class="list-group-item">Du {{ stay.arrival?stay.arrival|date('d/m/Y') }} au {{ stay.departure?stay.departure|date('d/m/Y') }}</li>
    {% endfor %}
    </ul>
  </div>
</div>

<button type="button" class="btn btn-link" id="backButton">Back</button>
{% endblock %}
{% block js_documentReady %}
  $('#backButton').on('click', function(event) {
  window.location = '{{ path('user_list') }}';
  });
  $( "#editUserButton" ).button({
          icons: {
            primary: "ui-icon-pencil"
          },
          text: false
      });
{% endblock %}
